.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar{
  z-index: 1000;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.slide-from-left-enter {
  transform: translateX(100%);
}

.slide-from-left-enter-active {
  transform: translateX(0);
  transition: transform 0.7s;
}

.slide-from-right-enter {
  transform: translateX(-100%);
}

.slide-from-right-enter-active {
  transform: translateX(0);
  transition: transform 0.7s;
}

.slick-custom-arrow {
  -webkit-box-shadow: 1px 1px 16px -3px rgba(0,0,0,0.93); 
  box-shadow: 1px 1px 16px -3px rgba(0,0,0,0.93);
}

/* Custom slick arrow positioning */
.slick-prev-custom {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
  cursor: pointer;
}

.slick-next-custom{
  right: 10px;
}
.custom-dots{
  bottom: 3em !important;
  left: 5em ;
  text-align: start !important;


}
/*  */
.custom-dots li button:before {
  font-size: 18px !important;
}

.ReactTags__tags{
  color: grey;
  margin-top: 1em;
}
.tag-wrapper{
  background: #e4ebe4;
  border-radius: 0.6em;
  margin-left: 0.2em;
  color: #282c34;
  padding: 0.5em;
}
.ReactTags__tagInputField{
  padding: 0.3em;
  border-radius: 0.2em;
  border : 1px solid #e4ebe4;
}
.ReactTags__tagInputField:focus{
  outline: none;
  box-shadow: 1px 0px 6px -3px rgba(0,0,0,0.6);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
